@model  Optinuity.Framework.Diagnostic.DiagnosticItemCollection
@{
    Layout = "~/views/shared/Popup.cshtml";
    int errorCount = Model.Where(r => r.ValidationResult != null && r.ValidationResult.Success == false)
        .Count();
}    

@if (errorCount > 0){
    <div class="alert alert-danger">
        Diagnostic test failed with @errorCount errors.
    </div>
}
else { 
    <div class="alert alert-info">
        All diagnostic tests passed successfully.
    </div>
}
<span style="border:1px solid #A4C3EE;float:right;padding:0px 5px;">
    @Html.CheckBoxFor(m => m.DisplayAll, new { onclick = "showAllClicked(this);" }) Show All
</span>
<br class="clear" />
<br />
<table class="table table-bordered table-condensed" >    
    @foreach (string groupName in Model.Select(r => r.GroupName).Distinct())
    { 
    <tr>
    <th colspan="5" style="font-size:1.2em; text-align:left;">
    @groupName
    </th>
    </tr>
    
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Source</th>
        <th>Pass/Fail</th>
        <th>Comments</th>
    </tr>
    foreach (var item in Model.Where(r => r.GroupName == groupName))
    {
        <tr>
            <td>@item.Name</td>
            <td style="word-wrap:break-word;word-break: break-all;">@Html.Raw(item.Value)</td>
            <td>@item.Source</td>
            @if (item.ValidationResult == null)
            {
            <td>N/A</td>
            <td></td>
            }
            else
            {
            <td style="background-color:@(item.ValidationResult.Success ? "#BFFDA2" : "#FFE1E1")">@(item.ValidationResult.Success ? "Pass" : "Fail")</td>
            <td>@item.ValidationResult.Message</td>
            }
            
        </tr>
    }
    <tr><td colspan="5" class="noBorder">&nbsp;</td></tr>
    }
</table>
<script type="text/javascript">
    function showAllClicked(sender) {

        var url = '@Url.Content("~/Diagnostic/Index/")' + '?showAll=' + sender.checked;
        location = url;
    }
</script>