@model List<TaskDefinition>


@*<div class="alert alert-success">
        <h4>Work in progress...</h4>

    </div>*@
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.DeleteConfirmation == true)
        {
            <div class="alert alert-success col-md-8 col-sm-12">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon-ok-sign"></i> Completed</h4>
                <p>Task definition has been deleted successfully</p>
            </div>
        }
    </div>
</div>
<div class="row">

    <div class="col-sm-12 box">
        <div class="box-header default-background">
            <div class="title">Search</div>
            <div class="actions">
                <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
            </div>
        </div>
        <div class="box-content">
            @*@using (Html.BeginForm("Index", "Admin", FormMethod.Get, new { id = "searchForm", @class = "form form-horizontal form-column form-bordered .form-condensed", onSubmit = "return showBlockModal('Searching','Please Wait...')" }))*@
            @using (Html.BeginForm("Index", "Admin", FormMethod.Get, new { id = "searchForm", @class = "form form-horizontal form-column form-bordered .form-condensed"}))
            {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputText1">Status</label>
                            <div class="col-md-8">
                                <select class="form-control" id="ddlStatus" name="ddlStatus">
                                    @if (Request["ddlStatus"] == "all")
                                    {
                                        <option value="current">Active</option>
                                        <option value="all" selected="selected">All</option>
                                    }
                                    else
                                    {
                                        <option value="current" selected="selected">Active</option>
                                        <option value="all">All</option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputText1">Task Name/Desc</label>
                            <div class="col-md-8">
                                <input type="text" id="txtSearchDesc" name="txtSearchDesc" class="form-control" value="@ViewBag.txtSearchDesc"/>
                            </div>
                        </div>
                    </div>
                </div>
                if(ViewBag.IsAdmin)
                {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputText1">Ownership</label>
                            <div class="col-md-8">
                                @Html.DropDownList("ddlOwnership", new SelectList(ViewBag.OwnerList, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                }
                <div class="form-actions form-actions-padding-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit" name="search" value="search">
                                <i class="icon-search"></i>
                                Search
                            </button>
                            <button class="btn" type="button" onclick="location='@Url.Action("Index")'">Clear</button>
                            <div class="pull-right">
                                @*<button class="btn btn-info pull-right" type="button" onclick="location='../Admin/ManageTasks'">*@
                                <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("ManageTasks", "Admin")'">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                    Add New
                                </button>&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-success" type="submit" name="output" value="excel">
                                    <i class="icon-file-text"></i>
                                    Download Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<table class="table table-bordered">
    <tr>
        <th style="width:20px;">&nbsp;</th>
        <th>Task Name/Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Owner</th>
        <th>Created Date</th>
    </tr>
    @foreach (TaskDefinition row in Model)
    {
        <tr>
            <td><a class="glyphicon glyphicon-edit" href="~/Admin/ManageTasks?TaskId=@row.Oid"></a></td>
            <td>
                @row.Name
                <br />
                <small>
                    @Html.Raw(row.Description)
                </small>
                <br />
                <small>
                    <b>@row.Object.ObjectType</b> : @row.Object
                </small>
            </td>

            <td>@string.Format("{0:d}", row.StartDate)</td>
            <td>@string.Format("{0:d}", row.EndDate)</td>
            <td style="white-space:nowrap;">@row.Owner</td>
            <td>@string.Format("{0:d}", row.CreatedDate)</td>
        </tr>
    }
</table>
