<!DOCTYPE HTML>
@functions{
    string messageStyle(MessageType messageType){
        if(messageType == MessageType.Error){
            return "alert-danger";
        }
        else if (messageType == MessageType.Warning)
        {
            return "alert-warning";
        }

        return "alert-info";
    }
}



<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    @RenderSection("header", required: false)
    <title>@ViewBag.PageTitle</title>

    <link rel="shortcut icon" type="image/icon" href="@Url.Content("~/favicon.ico")"  />

    @Styles.Render("~/content/css/bundled_css")
    @Styles.Render("~/content/css/plugins/jquery-ui/cupertino/jquery-ui_bundled")
    @Scripts.Render("~/content/js/bundled_js")

    <!--[if lt IE 9]>
		<script src="@Url.Content("~/content/js/html5shiv.js")"></script>
		<script src="@Url.Content("~/content/js/respond.min.js")"></script>
	<![endif]-->
    <script src="~/Content/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Content/js/jquery/jquery.validate.js"></script>
    <script src="~/Content/js/jquery/jquery.validate.unobtrusive.js"></script>

    
    <script type="text/javascript">
        $(function () {
            $(".info-message").each(function () {
                var title = $(this).find('.info-title').html();
                var content = $(this).find('.info-content').html();
                addNotification(title, content,'success');
            });
        });


    </script>
    @RenderSection("javascripts", required: false)
</head>
<body>
    
    <header>
        <nav class='navbar navbar-default'>
        <a class='navbar-brand' href='@Url.Content("~/")'>
          <span class="logo">
              <img style="width:32px; height:32px" src="@Url.Content("~/Content/Images/home_logo.png")" alt="Home" />
              @(AppSettings.ApplicationName)

              @if(ViewBag.CurrentEnvironment!="Production"){
                <span style="color:red">(@ViewBag.CurrentEnvironment)</span>
              }
          </span>
          <span class="logo-xs">
              @AppSettings.ApplicationNameAbbreviated 
              @if(ViewBag.CurrentEnvironment!="Production"){
                <span style="color:red">(@ViewBag.CurrentEnvironment)</span>
              }
          </span>
        </a>
        <a class='toggle-nav btn pull-left' href='#'>
          <i class='icon-reorder'></i>
        </a>
        <ul class="nav">
            <li class='dropdown user-menu'>
                
            </li>
        </ul>
        
      </nav>

    </header>

	<div id="wrapper">
        <div id="main-nav-bg"></div>
        <nav id="main-nav">
            <div class="navigation">
                <ul class="nav nav-stacked">
                    @{Html.RenderPartial("Navigation");}
                </ul>
            </div>
            
        </nav>

        <section id="content">
            <div class='container'>
                <div class="row" id='content-wrapper'>
                    <div class="col-xs-12 page-header-section" >
                        
                            <div class="pull-left">
                                <h1>
                                  <i class='@((ViewBag.ActiveTab != null)? ViewBag.ActiveTab.IconName:"")'></i>
                                  <span>@ViewBag.PageHeader</span>
                                </h1>
                            </div>
                            <div class="pull-right">
                                <div class='btn-group'>
                                    <a class="btn" href="mailto:@AppSettings.HelpEmail?subject=@AppSettings.ApplicationName:@ViewBag.PageHeader&body=@Url.Encode(ViewBag.EmailLink)"><i class="icon-envelope"></i></a>
                                    <a class="btn" onclick="javascript:window.print();" href="javascript:void(0)"><i class="icon-print"></i></a>
                                    <a class='btn dropdown-toggle' data-toggle='dropdown' href='#' ><i class="icon-question-sign"></i> Help  <span class="caret"></span></a>
                                
                                   <ul class="dropdown-menu pull-right">
								        <li>
									        <a href="@AppSettings.HelpLink" target="_blank">FAQ</a>
								        </li>
								        <li>
									        <a href="mailto:@AppSettings.HelpEmail?subject=@AppSettings.ApplicationName">Contact Administrator</a>
								        </li>
							        </ul>
                               
                                </div>
                            </div>
                            <br style="clear:both;"/>
                    </div>
                    <div class="col-xs-12 page-header-breadcrumb">
                        <ul class="breadcrumb" >
						    <li>
                                <a href="@Url.Action("Index","Home")">
                                <i class="icon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="icon-angle-right"></i>
                            </li>
                            @{
                                int counter = 0;
                                int breadCrumbsCount = ViewBag.BreadCrumbs.Count;
                                foreach (Optinuity.Framework.UI.Link link in ViewBag.BreadCrumbs)
                                {
                                    <li>
                                    @if(link.Name == "Task Details")
                                    {
                                        <span>@link.Name</span>

                                    }
                                    else
                                    {
                                        <a href="@link.Url">@link.Name</a>
                                    }
                                    
                                    </li>
                                    if (counter  != breadCrumbsCount -1)
                                    {
                                        <li class="separator">
                                            <i class="icon-angle-right"></i>
                                        </li>
                                    }
                                        
                                    counter++;
                                }
                            }
					    </ul>

                    </div>
                    <div class="col-sm-12">

                        <div id="messageHolder">
                        @if (ViewBag.UIMessage != null && ViewBag.UIMessage.MessageType != MessageType.Information)
                        { 
                            <div class="alert @messageStyle(ViewBag.UIMessage.MessageType)">
						        <button type="button" class="close" data-dismiss="alert">×</button>
						        <strong>@ViewBag.UIMessage.Title</strong> 
                                <p>@Html.Raw(ViewBag.UIMessage.Description)</p>
					        </div>  
                        }
                        else if (ViewBag.UIMessage != null && ViewBag.UIMessage.MessageType == MessageType.Information)
                        {
                            <div class="info-message hide" >
						        <button type="button" class="close" data-dismiss="alert">×</button>
						        <strong class="info-title"><i class="icon-ok"></i> &nbsp;@ViewBag.UIMessage.Title</strong> 
                                <p class="info-content">@Html.Raw(ViewBag.UIMessage.Description)</p>
					        </div>  
                        }
                        </div>
                        @RenderBody()

                    </div>
                </div>
            </div>
        </section>
        
	</div>
    <div id="footer" class="footer">
        <p style="color:black;">
            @ViewBag.CurrentEnvironment
            <span style="color: #999999;">|</span>
            <span>@ViewBag.CurrentIdentity.FirstName @ViewBag.CurrentIdentity.LastName </span>
        </p>
    </div>
    
    <div class="modal fade in" id="block-modal" tabindex="-1" style="display: none;" aria-hidden="false">    
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" >
                    <h4 class="modal-title" id="block-modal-title">Processing Request</h4>
                </div>
                <div class="modal-body" id="block-modal-body">
                    <p>Please wait…</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>