<!DOCTYPE HTML>
@functions{
    string messageStyle(MessageType messageType){
        if(messageType == MessageType.Error){
            return "alert-danger";
        }
        else if (messageType == MessageType.Warning)
        {
            return "alert-warning";
        }

        return "alert-info";
    }
}
@{
    IList<Company> companies = ViewBag.Companies;
    Company company = ViewBag.Company;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    @RenderSection("header", required: false)
    <title>@ViewBag.PageTitle</title>

    <link rel="shortcut icon" type="image/icon" href="@Url.Content("~/favicon.ico")"  />
    
    @Styles.Render("~/content/css/"+ @company.AbbreviatedDescription +"_bundled_css")
    @Styles.Render("~/content/css/plugins/jquery-ui/cupertino/jquery-ui_bundled")
    @Scripts.Render("~/content/js/bundled_js")
    
    
</head>
<body class="contrast-teal">
    <header>
        <nav class='navbar navbar-default'>
            <a class='navbar-brand' href='@Url.Content("~/")'>
              <span class="logo">@AppSettings.ApplicationName</span>
              <span class="logo-xs">@AppSettings.ApplicationNameAbbreviated</span>
            </a>
        </nav>
    </header>

	<div id="wrapper">
        

        <section id="content">
            <div class='container'>
                <div class='row' id='content-wrapper'>
                    <div class='col-xs-12'>
                        <div class='page-header page-header-with-buttons' >
                            <h1 class='pull-left'>
                              <i class='@((ViewBag.ActiveTab != null)? ViewBag.ActiveTab.IconName:"")'></i>
                              <span>@ViewBag.PageHeader</span>
                            </h1>
                            <div class='pull-right'>
                              <div class='btn-group'>
                                <a class="btn" href="#"><i class="icon-envelope"></i></a>
                                <a class="btn" href="#"><i class="icon-print"></i></a>
                                <a class='btn dropdown-toggle' data-toggle='dropdown' href='#' ><i class="icon-question-sign"></i> Help  <span class="caret"></span></a>
                                
                               <ul class="dropdown-menu">
								    <li>
									    <a href="@AppSettings.HelpLink" target="_blank">FAQ</a>
								    </li>
								    <li>
									    <a href="mailto:@AppSettings.HelpEmail?subject=Journal Entry Approval">Contact Administrator</a>
								    </li>
							    </ul>
                               
                                </div>
                            </div>
                        </div>
                        <div class="page-breadcrumbs" >
                            <ul class="breadcrumb" style="padding-top:0px;padding-bottom:5px;">
						        <li>
                                  <a href="@Url.Action("Index","Home")">
                                    <i class="icon-home"></i>
                                  </a>
                                </li>
                                <li class="separator">
                                    <i class="icon-angle-right"></i>
                                </li>
                                @{
                                    int counter = 0;
                                    int breadCrumbsCount = ViewBag.BreadCrumbs.Count;
                                    foreach (Optinuity.Framework.UI.Link link in ViewBag.BreadCrumbs)
                                    {
                                        <li>
                                        <a href="@link.Url">@link.Name</a>
                                        </li>
                                        if (counter  != breadCrumbsCount -1)
                                        {
                                            <li class="separator">
                                              <i class="icon-angle-right"></i>
                                            </li>
                                        }
                                        
                                        counter++;
                                    }
                                }
					        </ul>

                        </div>
                    </div> 
                    <div class="col-sm-12">
                        @if (ViewBag.UIMessage != null && ViewBag.UIMessage.MessageType != MessageType.Information)
                        { 
                            <div class="alert @messageStyle(ViewBag.UIMessage.MessageType)">
						        <button type="button" class="close" data-dismiss="alert">×</button>
						        <strong>@ViewBag.UIMessage.Title</strong> 
                                <p>@ViewBag.UIMessage.Description</p>
					        </div>  
                        }
                        else if (ViewBag.UIMessage != null && ViewBag.UIMessage.MessageType == MessageType.Information)
                        {
                            <div class="info-message hide" >
						        <button type="button" class="close" data-dismiss="alert">×</button>
						        <strong class="info-title">@ViewBag.UIMessage.Title</strong> 
                                <p class="info-content">@ViewBag.UIMessage.Description</p>
					        </div>  
                        }


                        @RenderBody()

                    </div>
                </div>
                @*<footer id="footer">
                    <div class="footer-wrapper">
                      <div class="row">
                        <div class="col-sm-6 text">
                          Copyright © @DateTime.Now.Year Optinuity Inc
                        </div>
                        <div class="col-sm-6 buttons">
                          <span>@ViewBag.CurrentEnvironment</span>
                           &nbsp; | &nbsp; 
                          <span>@ViewBag.CurrentIdentity.FirstName @ViewBag.CurrentIdentity.LastName</span>
                        </div>
                      </div>
                    </div>
                  </footer>*@
            </div>
        </section>
	</div>
    
    <div class="modal fade in" id="block-modal" tabindex="-1" style="display: none;" aria-hidden="false">    
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" >
                    <h4 class="modal-title" id="block-modal-title">Processing Request</h4>
                </div>
                <div class="modal-body" id="block-modal-body">
                    <p>Please wait…</p>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/content/js/bundled_js")
    <script type="text/javascript">

        function loadConfirmationStats() {
            var currentStyle = $('#currentQuarterPercentageIcon').attr('class');
            $('#currentQuarterPercentageIcon').attr('class', 'icon-refresh icon-spin');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCurrentPeriodStats","Journal")',
                success: function (data) {
                    updateConfirmationStats(data, currentStyle);
                },
                error: function (data) {
                    alert(data)
                }
            });
        }

        function updateConfirmationStats(data, style) {
            $('#currentQuarterPercentageIcon').attr('class', style);
            $('#currentQuarterPercentage').html((Math.round(data.PercentageFinished * 10000) / 100).toFixed(2) + ' %');
        }

        $(function () {
            $(".info-message").each(function () {
                var title = $(this).find('.info-title').html();
                var content = $(this).find('.info-content').html();
                addNotification(title, content, false, 1000);
            });
        });



    </script>
    @RenderSection("javascripts", required: false)
</body>
</html>